{{#if isDev}}
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="spacing spacing--bot-md">The default button is a good eyecatcher, to draw attention to a certain area.</p>
                {{/if}}
                <button class="btn btn--cta">{{ctaButton.text}}</button>
                {{#if isDev}}
            </div>
        </div>
    </div>
</div>
{{/if}}
