<div class="textimagesplit spacing--top-xl">
    <div class="container">
        <div class="row">            
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="textimagesplit__img textimagesplit__img--sm" style="{{#if textImgSplit.textOnRight}} background-image: url('/assets/images/shoppingspree.jpeg') {{/if}}">

                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="textimagesplit__content__wrapper">
                    <div class="textimagesplit__content">
                        <div class="textimagesplit__heading">
                            <h2>Shopping spree in November</h2>
                        </div>
                        <div class="textimagesplit__text">
                            <p class="text--rich">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid reprehenderit et, veritatis commodi odio cupiditate, quaerat placeat temporibus minus vel cumque molestias assumenda, veniam dolor unde quisquam deserunt quam eos culpa? Possimus cumque harum ad aperiam debitis? Illo, quia earum!
                                </p>
                            <button class="btn btn--cta btn--cta--pink">Read More</button>
                        </div>                
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>