<div class="textimagesplit spacing--top-xl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="textimagesplit__content__wrapper">
                    <div class="textimagesplit__content">
                        <div class="textimagesplit__heading">
                            <h2>Affiliate Program</h2>
                        </div>
                        <div class="textimagesplit__text">
                            <p class="text--rich">Our affiliate program is easy to understand, easy to use, and is an excellent way to earn residual income. As you refer customers to Shirt me please, we track them all and pay you a monthly commission for all paying customers that you refer. Interested in learning more? Browse the links on the left to gain more insight on specifics regarding our affiliate program.</p>
                            <button class="btn btn--cta btn--cta--pink">Read More</button>
                        </div>                
                    </div>
                </div>                
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="textimagesplit__img textimagesplit__img--sm">

                </div>
            </div>
        </div>
    </div>
</div>