<div class="instagram">
  <div class="instagram__img" style="
    background-image: url('https://images.pexels.com/photos/994523/pexels-photo-994523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
  "></div>
  <div class="instagram__img" style="
    background-image: url('https://images.pexels.com/photos/1006999/pexels-photo-1006999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
  "></div>
  <div class="instagram__img" style="
    background-image: url('https://images.pexels.com/photos/704974/pexels-photo-704974.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
  "></div>
  <div class="instagram__img" style="
    background-image: url('https://images.pexels.com/photos/1018501/pexels-photo-1018501.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
  "></div>
  <div class="instagram__img" style="
    background-image: url('https://images.pexels.com/photos/761963/pexels-photo-761963.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')
  "></div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        {{!-- Left --}}
        {{!-- &copy; Shirt me please --}}
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h5>Shop</h5>
            <ul>
              <li><a class="footer__link" href="">Official store</a></li>
              <li><a class="footer__link" href="">Customer support</a></li>
              <li><a class="footer__link" href="">Womens collection</a></li>
              <li><a class="footer__link" href="">Meet our designers</a></li>              
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h5>Community</h5>
            <ul>
              <li><a href="" class="footer__link">Visit our blog</a></li>
              <li><a href="" class="footer__link">Reach out</a></li>
              <li><a href="" class="footer__link">Become an affiliate</a></li>
              <li><a href="" class="footer__link">Our Partners</a></li>              
            </ul>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <h5>Info</h5>
            <ul class="">
              <li class="increased-spacing"><span class="footer__label">Address: </span>82 Netherpark Crescent</li>
              <li class="increased-spacing"><span class="footer__label">City: </span>Stibbington</li>
              <li class="increased-spacing"><span class="footer__label">Phone no. </span>+077 3161 2378</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        {{!-- Right --}}
        <div class="footer__logo__wrapper">
          <img class="footer__logo" src="/assets/images/envy-318.png" alt="">
        </div>
      </div>            
    </div>
  </div>
</footer>
<footer class="copyrights">
  <div class="container">
    <div class="row col-md-12 col-sm-12 col-xs-12">
      <p>&copy; Shirt Me Please 2018</p>
    </div>
  </div>
</footer>