<div class="banner__background"></div>
<div class="jumbotron banner">
  <div class="banner__overlay banner__overlay--grad-relay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <h1 class="text banner__title">Convenient, <span style="color: #ed1e79">Comfortable,</span> Clothing</h1>

        </div>
        <div class="col-md-4 col-md-offset-2 hidden-md">
          <img class="banner__graphic-img" src="/assets/images/girlmodel.png" alt="" >
        </div>
      </div>
    </div>
  </div>
</div>
