<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="description" content="Discover the latest fashion and trends in menswear and womenswear&#160;at ASOS. Shop this season&#39;s collection of clothes, accessories, beauty and more.">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Inorbit UI Components | Visual styleguide</title>
  {{!-- Referencing external stylesheets --}}
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.min.css">
  {{!-- Referencing external Javascripts --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <script src="/assets/js/script.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
  {{{ yield }}}
  <!-- XYZ 336 x 280 -->
  {{!-- <ins class="adsbygoogle"
    style="display:inline-block;width:336px;height:280px"
    data-ad-client="ca-pub-6809370663034284"
    data-adtest="on"
    data-ad-slot="6809370663034284"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script> --}}
</body>
</html>