{{#if isDev}}
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
{{/if}}
                <h2>{{subHeading.text}}</h2>

{{#if isDev}}
            </div>
        </div>
    </div>
</div>
{{/if}}