body
    overflow-x: hidden !important
    
p, .text
    color: $color-black
    font:
        family: $font-brand-text
    &--color-white
        color: white
    &--color-pink
        color: $color-dark-pink