$header-height-sm: 80px
  
.header
  position: absolute
  width: 100%
  top: 0 
  left: 0
  height: $headerHeight
  background: #fff
  // line-height: $headerHeight
  z-index: 1100
  overflow: hidden
  transition: transform 0.3s ease-in-out
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5)
  overflow: hidden

  &--scrolled
    height: $header-height-sm
    border-bottom: 0.5px solid #ccc
    position: fixed

    nav
      ul
        padding-right: 150px

    .header__buttons
      top: 50% !important
      transform: translateY(-50%)


    .logo__wrapper
      height: $header-height-sm !important
      a
        height: $header-height-sm !important
        align-items: center !important
        img
          max-width: 85px !important

    li
      height: $header-height-sm !important
      align-items: center !important
      a
        margin-bottom: 0px !important
        font-size: 11px !important

  &--no-shadow
    box-shadow: none

  .logo
    &__wrapper
      height: 100%
      display: flex
      align-items: center
      // padding:
        // left: 20px

      a
        display: block
        height: $headerHeight
        display: flex
        align-items: flex-end

        img
          max-width: 180px
          margin-right: 20px

  nav
    width: 100%
    display: flex
    justify-content: flex-end
    position: relative
    
    .header__buttons
      position: absolute
      top: 50px
      right: 0

      button
        margin:          
          // right: 30px
          left: 30px

    ul
      

      li
        float: left
        height: $headerHeight
        display: flex
        align-items: flex-end

        a
          margin:
            bottom: 20px
          //   left: 20px
          padding:
            left: 15px
            right: 15px
          font:
            family: Verdana
            size: 15px
          text:
            transform: uppercase
            decoration: none          
          color: lighten($color-dark-gray, 20%)
          transition: color 0.2s ease-in-out
          position: relative

          &.active
            color: $color-dark-pink !important
            &::after
              content: ''
              position: absolute
              width: 80%
              height: 2px
              background: $color-dark-pink
              top: calc(100% + 10px)
              left: 50%
              transform: translateX(-50%)

          &:hover
            color: $color-brand-pink
