<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        {{!-- Logo here --}}
        <div class="logo__wrapper">
          <img class="logo" src="http://placehold.it/175x35" alt="">
        </div>
      </div>
      <div class="col-md-8 col-sm-8">
        {{!-- Navigation here --}}
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>