<div class="jumbotron banner">
  <div class="banner__overlay banner__overlay--grad-relay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <h1 class="text ">Welcome to <span class="text text--white">Shirt Me Please</span> <i class="fa fa-shopping-cart" style="color: #ed1e79"></i> </h1>

        </div>
      </div>
    </div>
  </div>
</div>
