img
  max-width: 100%
  
.demo
  margin-top: 50px

.site-content
  padding-top: $headerHeight
  // overflow-x: hidden
  
.container
  margin:
    left: auto
    right: auto
  padding:
    left: 30px
    right: 30px

  &--remove-padding
    padding:
      left: 0px
      right: 0px

  @media screen and(max-width: 480px)
    padding: 
      left: 15px
      right: 15px

.row
  &--no-margins
    @include breakpoint('desktop')
      margin: 
        left: -30px
        right: -30px