.hidden    
    &-md
        @include breakpoint('mobile')
            display: none
        
        @include breakpoint('tablet')
            display: none
        @include breakpoint('phablet')
            display: none
        
        @include breakpoint('desktop')
            display: block
        