.hide
    &-on-mobile
        @include breakpoint('mobile')
            display: none !important
    &-on-tablet
        @include breakpoint('tablet')
            display: none !important

    &-inbetween-tablet-laptop
        @media screen and (max-width: 990px) and (min-width: 768px)
            display: none !important

    &-from-tablet-to-mobile
        @include breakpoint('tablet')
            display: none !important

        @include breakpoint('mobile')
            display: none !important